.main {
	position: relative;
	z-index: 100;
	min-height: 100vh;
	/* padding: 0 30px 0;

	padding-top: 54px; */
	
	/* background-color: #ADC0C4;  */
	background-color: rgb(242 249 244);
	width: calc(100vw -  70px);
	margin-left: auto;
}
.mainContent {
	padding: 0 30px 30px;
	padding-top: 54px; 
}
.fixed {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 200;
}

.breadcrumb {
	font-size: 24px;
	text-transform: uppercase;
	line-height: 29px;
	margin: 50px 0 20px 0;
	/* color: #3e3c6a; */
	color:  #225432;
	font-weight: bolder;
	transition: 0.3s;
}

.decoration {
	top: 64px;
	left: 0;
	width: 100%;
	z-index: 0;
}

.overlay {
	position: fixed;
	inset: 0 0 0 0;
	background-color: black;
	opacity: 0.4;
	z-index: 10000;
}
