.BoxCustomize {
    background-color: #FFF;
  
    @apply !py-[30px] sm:!py-[40px] lg:!py-[60px]
}
.BoxCustomizeContent {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.BoxTitle {
   
    /* transform: rotate(-90deg); */
}
.BoxImage {
    padding: 0 16px;
    @apply w-full md:w-8/12 
}